<launch>
  <arg name="rate" default="10" />
  <arg name="record" default="false" />

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find beginner_tutorials)/config/rosconsole.config"/>
  
  <node pkg="beginner_tutorials" name="publisher" type="talker" output = "screen" launch-prefix="xterm -e" args="$(arg rate)"/>

  <node pkg="beginner_tutorials" name="subscriber" type="listener" args="$(arg rate)" output = "screen" launch-prefix="xterm -e"/>

  <node pkg="rosbag" name="record" type="record" args="--all --duration=15 -O $(find beginner_tutorials)/results/output.bag" if="$(arg record)" />
  

</launch>